*{
    margin: 0px;
    padding: 0px;
 /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: AvenirLight;
    font-weight: 400;
    font-style: normal;    
}

@font-face {
	font-family: "AvenirHeavy";
    src: url("../fonts/Avenir\ Heavy/AvenirHeavy.svg") format("svg"),
    url("../fonts/Avenir\ Heavy/AvenirHeavy.otf") format("opentype"),
    url("../fonts/Avenir\ Heavy/AvenirHeavy.ttf") format("truetype");
}
@font-face {
    font-family: "AvenirLight";
    padding: 0%;
    margin: 0%;
	src: url("../fonts/Avenir\ Light/AvenirLight.svg") format("svg"),
    url("../fonts/Avenir\ Light/AvenirLight.otf") format("opentype"),
    url("../fonts/Avenir\ Light/AvenirLight.ttf") format("truetype");
}

body{
    background-color: black;
    z-index: -100;
}

header{
    color: white;
    height: 520px;  
}

.bg-image{
    background-image: url("../img/bg-2.jpg");    
    background-size: cover;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.bg-color{      
    z-index: -99;
    background-color: rgba(0,0,0,0.75); /* dim the background */
    width: 100%;
    height: 100%;
}

nav{
    font-family: "AvenirHeavy";
    font-size: 20px;
    line-height: 50px;
}

.menu{
    text-align: center;
    padding: 25px;
}

il{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

a{
    text-decoration: none;
}

.name{
    padding: 80px;
    text-align: center;
}

.title{
    font-family: "AvenirHeavy";
    font-size: 88px;
    font-weight: bold;
}

.subtitle{
    font-size: 25px;
    letter-spacing: 6.25px;
}

.picture{
    position: absolute;
    margin: auto;
    left:50%;
    margin-left:-142px;
    top: 380px;    
}

.profile{
    border-radius: 50%;
    border: 7px solid white;
    margin: 10px;
    max-width: 250px;
}

section{
    overflow: hidden;
    z-index: 1;
    background-color: white;
}

.social-media{
    padding-right: 20px;
    text-align: left; 
    font-size: 40px; 
    padding-bottom: 10px;
    padding-top: 120px;
}

.desk{
    display: none;
    padding: 0px;
    margin: 0px;
}

.center{
    text-align: center;
}


/* 1 COLUMN -------------------------------------------------------------------------------- */
.columns{
    margin: 0 auto; 
    text-align: center; 
    width: 100%;
    overflow: hidden;
}

.one-column{
    float: left;
    padding: 40px 10% 40px 10%; 
    text-align: left; 
    width: 80%;
    /* margin-left: 2%; */
}


/* 2 COLUMNS  -------------------------------------------------------------------------------- */
.two-columns{
    float: left;
    padding: 40px 5% 40px 5%; 
    text-align: left; 
    width: 38%;
}

.first-two{
    margin-left: 2%; 
}


/* 3 COLUMNS  -------------------------------------------------------------------------------- */
.three-columns{
    float: left;
    padding: 0px 3.5% 40px 3.5%; 
    text-align: center; 
    width: 26%;
}

.first-three{
    margin-left: 0.5%; 
}


/* Titles Home and Other Pages */
.title-home{    
    text-align: left; 
    font-size: 40px; 
    padding-bottom: 10px;
    padding-top: 120px;
}

.title-pages{
    text-align: center; 
    font-size: 40px; 
    padding-bottom: 10px;
}

.img-skill{
    width: 100%;
    /* padding-bottom: 20px; */
}

.github{
    color: blue;
    font-weight: bold;    
    text-transform: uppercase;    
    letter-spacing: 1px;
}

.bottom{
    width: 92%;
    padding-top: 0px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 52px;
    text-align: center;
}

.button{
    text-align: center;
    display: table;
    padding: 10px;
    width: 246px;
    margin: auto;
    border: 1px solid black;
    color: black;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 51px;
}

.copyright{
    font-size: 13px;
    padding-top: 19px;
    padding-bottom: 19px;
}







/* CONTACT PAGE ------------------------------------------------------------------- */
.first-column-contact{
    float: left;
    padding: 40px 5% 40px 5%; 
    text-align: left; 
    width: 28%;
}

.second-column-contact{
    float: left;
    padding: 40px 5% 40px 5%; 
    text-align: left; 
    width: 48%;
}

.social-media-contact{
    position: absolute;
    bottom: -285px;
    text-align: left; 
    font-size: 40px; 
}

.contact{
    width: 100%;
}

.contacts{
    border: none;
}
 
input{
    width: 48%;
    height: 40px;    
    font-size: 15px;
    border: none;
}

textarea{
    height: 150px;
    width: 99%;
    margin-top: 30px;
    overflow: auto; 
    font-size: 15px;
    border: none;
}

button{
    padding: 10px 20px 10px 20px;  
    font-size: 15px;
    margin-top: 20px;
}
 /* CONTACT PAGE ------------------------------------------------------------------- */





@media only screen and (max-width: 900px) {
    .title{
        font-size: 64px;
    }    
  }

  @media only screen and (max-width: 720px) {
    header{
        height: 420px;
    }

    nav{
        display: absolute;
        line-height: 40px;
        padding-bottom: 120px;
    }

    ul{
        display: none;
    }

    .menu-mob{
        z-index: -99;
        /* background-color: rgba(255, 255, 255, 0.50);  */
        background-color: white;
        padding-top: 25px;
        padding-bottom: 15px;
        text-align: center;
    }

    .img-menu{
        width: 27px;
        height: 27px;  
        background-size: cover;
        margin: 0px 14px 0px 14px;  
        /* margin-right:14px; */
        /* margin-left:14px;  */
        display: inline-block;
    }

    .home{
        background-image: url("../img/icons2/house-black-silhouette-without-door.png");
    }
	.skills{
        background-image: url("../img/icons2/skills\ \(1\).png");
    }
	.education{
        background-image: url("../img/icons2/college-graduation.png");
    }
	.projects{
        background-image: url("../img/icons2/coding.png");
    }
	.contact{
        background-image: url("../img/icons2/phone-call.png");
    }
    
    .name{
        padding: 0px;
    }
    
    .title {
        font-size: 24px;
        text-transform: uppercase;
        width: 100%;
    }

    .subtitle {
        font-size: 14px;
        width: 100%;
    }

    .picture{
        margin-left:-120px;
        top: 300px;    
    }

    .profile{
        max-width: 200px;
    }
  
    .two-columns{
        float: left;
        padding: 0px 5% 20px 5%; 
        text-align: left; 
        width: 78%;
        margin-left: 2%;
    }

    .first-column-contact{
        float: left;
        padding: 0px 5% 50px 5%; 
        text-align: left; 
        width: 78%;
        margin-left: 2%;
    }

    .second-column-contact{
        float: left;
        padding: 0px 5% 100px 5%; 
        text-align: left; 
        width: 78%;
        margin-left: 2%;
    }

    .three-columns{
        float: left;
        padding: 0px 5% 20px 5%; 
        text-align: center; 
        width: 78%;
        margin-left: 2%;
    }

    .social-media{
        margin-left: 7%; 
        padding: 0px;
        padding-bottom: 40px;
    }    

    .mob{
        display: none;
    }

    .desk{
        display: block;
    }

    .center{
        text-align: center;
    }
    

    .bottom{
        width: 100%;
        padding-left: 0px;
        padding-top: 40px;
        margin-left: 0px;
    }

    .button{
        margin: 0;
        color: black;
        margin-left: 7%;
        padding-left: 0px;
    }

    
    footer{
        width: 100%;
        text-align: center;
    }

    .copyright{
        width: 80%;
        font-size: 12px;
        padding-left: 10%;
    }
}

