*{
    margin: 0px;
    padding: 0px;
 /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: AvenirLight;
    font-weight: 400;
    font-style: normal;    
}

@font-face {
	font-family: "AvenirHeavy";
    src: url("../fonts/Avenir\ Heavy/AvenirHeavy.svg") format("svg"),
    url("../fonts/Avenir\ Heavy/AvenirHeavy.otf") format("opentype"),
    url("../fonts/Avenir\ Heavy/AvenirHeavy.ttf") format("truetype");
}
@font-face {
    font-family: "AvenirLight";
    padding: 0%;
    margin: 0%;
	src: url("../fonts/Avenir\ Light/AvenirLight.svg") format("svg"),
    url("../fonts/Avenir\ Light/AvenirLight.otf") format("opentype"),
    url("../fonts/Avenir\ Light/AvenirLight.ttf") format("truetype");
}

body{
    background-color: black;
    z-index: -100;
}

header{
    color: white;
    height: 520px;  
}

.bg-image{
    background-image: url("../img/bg-2.jpg");    
    background-size: cover;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.bg-color{      
    z-index: -99;
    background-color: rgba(0,0,0,0.75); /* dim the background */
    width: 100%;
    height: 100%;
}

nav{
    font-family: "AvenirHeavy";
    font-size: 20px;
    line-height: 50px;
    /* background-color: red; */
    /* font-weight: bold; */
}

.menu{
    text-align: center;
    padding: 25px;
    /* font-weight: bold; */
}

il{
    margin-left: 20px;
    margin-right: 20px;
}

.name{
    padding: 80px;
    text-align: center;
}

.title{
    font-family: "AvenirHeavy";
    font-size: 88px;
    font-weight: bold;
}

.subtitle{
    font-size: 25px;
    letter-spacing: 6.25px;
}

.picture{
    position: absolute;
    /* margin: auto; */
    right: 39.5%;
    top: 380px;
    
}

.profile{
    border-radius: 50%;
    border: 7px solid white;
    margin: 10px;
    max-width: 250px;
}

section{
    overflow: hidden;
    height: 650px;
    z-index: 1;
    background-color: white;
}

.social-media img{
    padding-right: 20px;
}

.top{
    display: table;
    height: 56px;
    width: 40%;
    padding-top: 140px;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: blue !important; */
    /* line-height: 400%; */
    font-size: 38px;
    font-weight: bold;
}

.middle{
    width: 40%;
    height: 300px;
    padding-top: 13px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    font-size: 17px;
}

.bottom{
    height: 101px;
    width: 92%;
    padding-top: 0%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 52px;
    /* background-color: gray; */
    text-align: center;
    /* display: block; */
}

.left{
    /* display: block; */
    float: left;
    /* background-color: yellow; */
    /* overflow: hidden; */
}

.right{
    /* display: block; */
    float: right;
    /* background-color: violet; */
    /* overflow: hidden; */
}

.button{
    text-align: center;
    /* background-color: pink; */
    /* display: block; */
    display: table;
    /* padding-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 9px; */
    padding: 10px;
    width: 246px;
    margin: auto;
    border: 1px solid black;
    /* font-size: 13px; */
/*     
    top: 50%;			
	transform: translate(-50%, -50%); */
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 51px;
}

.copyright{
    font-size: 13px;
    padding-top: 19px;
    padding-bottom: 19px;
}